//COLORS
$color-primary: rgb(112, 214, 174);
$color-secondary: #ffdf88;

$color-primary--dark: #378566;
$color-primary--light: rgba(112, 214, 174, 0.3);

$color-grey: #777777;
$color-grey--light: #f5f5fb;
$color-grey--dark: #222222;
$color-black: #000000;
$color-white: #ffffff;

//FONT
$default-font-size: 1.6rem;
